:root {
  // colors
  --color-green-100: #71C838;
  --color-green-300: #78D33B;
  --color-blue: #037BB8;
  --color-red: #FF0000;

  // light
  --color-light-100: #fff;
  --color-light-300: #999999;
  --color-light-500: #7E7E7E;
  --color-light-700: #E5E4E4;

  // dark
  --color-dark-100: #000;
  --color-dark-300: #666666;

}