:root {
  --font-family-primary: 'Arial', sans-serif;

  // line heights
  --line-height-m: 20px;
  --line-height-l: 36px;
  // font-size
  --font-size-xs: 12px;
  --font-size-s: 16px;
  --font-size-m: 21px;
  --font-size-l: 30px;
  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}