.form {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: 1200px;
  gap: 40px;

  .formButton {
    width: 120px;
  }

  .submitBlock {
    align-self: center;
    display: flex;
    gap: 12px;
  }
}

